.app {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .plant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .planta-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .planta-img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .planta-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .estado {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
  }
  
  .regar {
    background-color: #4CAF50;
  }
  
  .cosechar {
    background-color: #FFA500;
  }
  
  .ok {
    background-color: #ccc;
  }
  
  .action-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #45a049;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .add-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }
  
  .edit-button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #bbb;
  }
  
  